{% extends "base.html" %}

{% block content %}

<h1>AES Cipher</h1>
        <form id="aesForm" action="/aes" method="POST">
            <label for="action">Action:</label>
            <select id="action" name="action">
                <option value="encrypt">Encrypt</option>
                <option value="decrypt">Decrypt</option>
            </select><br><br>
            <label for="key" value="Sixteen byte key">Key:</label>
            <input type="text" id="key" name="key" required><br><br>
            <label for="plaintext">Plaintext:</label>
            <textarea id="plaintext" name="plaintext" rows="4" cols="50"></textarea><br><br>
            <label for="text">Text:</label>
            <textarea id="text" name="text" rows="4" cols="50"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>

    <script src="{{ url_for('static', filename='js/speech.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/submit.js', formId='aesForm', fetchUrl='aes') }}"></script> -->


{% endblock %}