{% extends "base.html" %}

{% block content %}
    <div class="flex justify-center items-center mt-5">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title">Des cipher</h5>
                
                <form id="desForm" action="/des" method="post" class="flex gap-3 flex-col">
                    <div class="pb-2" id="main">
                        <div id="info" style="visibility: visible;">
                            <p id="info_start" style="display: inline;">
                                Click on the button and begin speaking for as long as you like.
                            </p>
                            <p id="info_speak_now" style="display:none">
                                Speak now.
                            </p>
                            <p id="info_no_speech" style="display:none">
                                No speech was detected. You may need to adjust your <a
                                    href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone
                                    settings</a>.
                            </p>
                            <p id="info_no_microphone" style="display:none">
                                No microphone was found. Ensure that a microphone is installed and that
                                <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
                                    microphone settings</a> are configured correctly.
                            </p>
                            <p id="info_allow" style="display:none">
                                Click the "Allow" button above to enable your microphone.
                            </p>
                            <p id="info_denied" style="display:none">
                                Permission to use microphone was denied.
                            </p>
                            <p id="info_blocked" style="display:none">
                                Permission to use microphone is blocked. To change, go to
                                chrome://settings/contentExceptions#media-stream
                            </p>
                            <p id="info_upgrade" style="display:none">
                                Web Speech API is not supported by this browser. Upgrade to <a href="//www.google.com/chrome">Chrome</a>
                                version
                                25 or later.
                            </p>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="flex gap-2 flex-col">
                            <button type="button" id="start_button" class="btn btn-info" onclick="startButton(event)" style="display: inline-block;">
                                click to start record
                            </button>
                            <div id="div_language">
                                <select id="select_language" class="select select-bordered w-full max-w-x" onchange="updateCountry()">
                                    <option value="0">English</option>
                                    <option value="1">Українська</option>
                                </select>
                                <select id="select_dialect" class="hidden"></select>
                            </div>
                        </div>
                        <textarea type="text" class="w-full textarea textarea-bordered placeholder:italic placeholder:text-slate-400" id="text"
                            name="text"></textarea>
                    </div>
                    
                    
                    <label for="desKey">Key:</label>
                    <input class="w-full input input-bordered" type="text" id="desKey" name="key" value="Sixteen byte key">
                    

                    <div class="flex items-center gap-2">
                        <label for="action">Choose action:</label>
                        <select class="select select-bordered" id="action" name="action">
                            <option value="encrypt">Encrypt</option>
                            <option value="decrypt">Decrypt</option>
                        </select>
                    </div>
                    
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
                <textarea type="text" class="hidden" id="result"></textarea>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/speech.js') }}"></script>
    <script src="{{ url_for('static', filename='js/submit.js', formId='desForm', fetchUrl='des') }}"></script>

{% endblock %}
