{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center mt-5">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Caesar cipher</h5>
            <p class="card-text">The Caesar Cipher, used by Julius Caesar around 58 BC, is a substitution cipher that shifts letters in a message to make it unreadable if intercepted. To decrypt, the receiver reverses the shift. Arab mathematician Al-Kindi broke the Caesar Cipher using frequency analysis, which exploits patterns in letter frequencies.</p>
            <a action="caesar.html" href="/caesar" class="btn btn-primary">Go to encrypt or decrypt</a>
        </div>
    </div>
</div>

<div class="flex justify-center items-center mt-5">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Permutation Cipher</h5>
            <p class="card-text">A permutation cipher is a type of encryption that rearranges the letters of a plaintext message according to a predetermined pattern. This pattern is called the “key”. Unlike substitution ciphers, which replace characters with other characters, permutation ciphers maintain the original characters but change their order.</p>
            <a action="permutation.html" href="/permutation" class="btn btn-primary">Go to encrypt or decrypt</a>
        </div>
    </div>
</div>

<div class="flex justify-center items-center mt-5">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Playfair Cipher</h5>
            <p class="card-text">The Playfair cipher was the first practical digraph substitution cipher. The scheme was invented in 1854 by Charles Wheatstone but was named after Lord Playfair who promoted the use of the cipher. In playfair cipher unlike traditional cipher we encrypt a pair of alphabets(digraphs) instead of a single alphabet.</p>
            <a action="playfair.html" href="/playfair" class="btn btn-primary">Go to encrypt or decrypt</a>
        </div>
    </div>
</div>

<div class="flex justify-center items-center mt-5">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title"> Vigenere Cipher</h5>
            <p class="card-text">The Vigenere cipher is a method of encrypting alphabetic text where each letter of the plaintext is encoded with a different Caesar cipher, whose increment is determined by the corresponding letter of another text, the key.</p>
            <a action="vigenere.html" href="/vigenere" class="btn btn-primary">Go to encrypt or decrypt</a>
        </div>
    </div>
</div>

<div class="flex justify-center items-center mt-5">
  <div class="card" style="width: 50rem;">
      <div class="card-body">
          <h5 class="card-title">TripleDES Cipher</h5>
          <p class="card-text">DES is a symmetric-key algorithm based on a Feistel network. As a symmetric key cipher, it uses the same key for both the encryption and decryption processes. The Feistel network makes both of these processes almost exactly the same, which results in an algorithm that is more efficient to implement.</p>
          <a action="des.html" href="/des" class="btn btn-primary">Go to encrypt or decrypt</a>
      </div>
  </div>
</div>
{% endblock %}
