<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciphers</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <div class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">

      <div class="navbar bg-base-100">
        <div class="flex-none">
          <label for="my-drawer-4" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
          </label>
        </div>
        <div class="flex-1">
          <a class="btn btn-ghost text-xl" href="/">Crypto</a>
        </div>
      </div>

      <div class="flex justify-center items-center mt-5">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">Caesar cipher</h5>
              <p class="card-text">The Caesar Cipher, used by Julius Caesar around 58 BC, is a substitution cipher that shifts letters in a message to make it unreadable if intercepted. To decrypt, the receiver reverses the shift. Arab mathematician Al-Kindi broke the Caesar Cipher using frequency analysis, which exploits patterns in letter frequencies.</p>
              <a action="caesar.html" href="/caesar" class="btn btn-primary">Go to encrypt or decrypt</a>
            </div>
          </div>
      </div>

      <div class="flex justify-center items-center mt-5">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">Permutation Cipher</h5>
              <p class="card-text">A permutation cipher is a type of encryption that rearranges the letters of a plaintext message according to a predetermined pattern. This pattern is called the “key”. Unlike substitution ciphers, which replace characters with other characters, permutation ciphers maintain the original characters but change their order.</p>
              <a action="permutation.html" href="/permutation" class="btn btn-primary">Go to encrypt or decrypt</a>
            </div>
          </div>
      </div>

    </div>
    <div class="drawer-side">
      <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        <li><a href="/">Home</a></li>
        <li><a action="caesar.html" href="/caesar">Caesar Cipher</a></li>
        <li><a action="permutation.html" href="/permutation">Permutation Cipher</a></li>
      </ul>
    </div>

  </div>
</body>
</html>
