<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permutation Cipher</title>
</head>
<body>
    <h1>Permutation cipher</h1>
    <form id="permutationForm" action="/permutation" method="post">
        <label for="text">Text:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
        
        <label for="permutation">Permutation (comma-separated numbers):</label><br>
        <input type="text" id="permutation" name="permutation"><br>
        
        <label for="action">Choose action:</label><br>
        <select id="action" name="action">
            <option value="encrypt">Encrypt</option>
            <option value="decrypt">Decrypt</option>
        </select><br><br>
        
        <input type="submit" value="Submit">
    </form>
    
    <div id="result"></div>
    <script>

// Register a listener for submit events.
const form = document.getElementById("permutationForm")
form.addEventListener('submit', evt => {
    evt.preventDefault();

    fetch('/permutation', {
        method: 'post',
        body: new FormData(evt.target)
    }).then(resp => resp.json())
        .then(text => {
            const elem = document.getElementById('result');
            elem && (elem.innerHTML = text.result);
        });
    // Reset the form.
    // evt.target.reset();
});
    </script>
</body>
</html>

